.container {
    z-index: 200;

    position: fixed;
    top: 0;
    right: 0;

    display: grid;
    grid-template-columns: 60px 60px 60px;
    grid-template-areas: "minimize-btn maximize-btn close-btn";

    align-items: center;

    width: fit-content;
    height: 60px;

    background-color: #000;
}
.container.bordered {
    border-left: 2px solid #202020;
    border-bottom: 2px solid #202020;
    // outline: 2px solid #202020;
}

.button {
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}
.button img {
    width: 14px;
    height: auto;
}

.button:hover {
    background-color: #181818;
}


.move-container {
    z-index: 300;

    position: fixed;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgba($color: #000000, $alpha: .8);

    -webkit-app-region: drag;
    visibility: hidden;
}
.move-container.active {
    visibility: visible;
}
.move-container img {
    width: 80px;
    height: 80px;

    // margin: 30px 0px;
}
.move-container label {
    color: white;
    font-size: 25px;
    font-weight: 600;
}



// .container {
//     z-index: 200;

//     position: fixed;
//     top: 0;
//     right: 0;

//     display: grid;

//     grid-template-rows: 40px 15px 40px 15px 40px;
//     grid-template-areas: "close-btn"
//                         "."
//                         "maximize-btn"
//                         "."
//                         "minimize-btn";


//     justify-content: flex-start;
    
//     width: 60px;
//     height: fit-content;

//     background-color: black;

//     padding: 20px 0px;
// }

// .button {
//     cursor: pointer;

//     display: flex;
//     justify-content: center;
//     align-items: center;

//     aspect-ratio: 1 / 1;

//     width: 40px;
//     height: 40px;

//     border-radius: 5px;
// }
// .button img {
//     // max-width: 14px;
//     // height: 14px;
//     width: 15px;
//     height: auto;
// }

// .button:hover {
//     background-color: #181818;
// }


