<div class="container">

    <div class="details">
        <label for="">Encryption</label>
        <label for="">We protect your file with strong 128-bit AES encryption. This will make it impossible to open or remove the protection without the correct password. So, don't forget it! We don't keep your password or your file on our server. For more information please read our privacy policy.</label>
    </div>
    <div class="form">
        <label for="">Set password</label>
        <label for="">Leave empty to auto-generate a password</label>
        <input type="password" placeholder="Password">
        <input type="password" placeholder="Repeat password">
    </div>

    <div class="btn-container">
        <div class="btn" (click)="handleSubmit()"><img src="assets/icons/arrow-right.svg"></div>
    </div>
</div>